 .tut{
    color: rgb(136, 226, 63);
 }
 .omen {
    color: rgb(130, 202, 130);
    text-align: center;
    list-style-type: none;
    text-decoration:none;
}
.img {
    display: block; margin: 0 auto;
    list-style-type: none;
    text-decoration:none;
}
body{ 
    background-image: url(fon.jpg);
    background-size: 100%;
    background-attachment: fixed;
    text-decoration:none;
}
